﻿@using CodeFistProject.Models;
@model  CodeFistProject.Models.UrunlerParams

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AllCategories categories = ViewBag.categories;
    var urunler = ViewBag.EAN13;
}

<html>
<body>

    <div class="container">

        @using (@Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <b>Search By:</b>
            @Html.TextBox("search");
            <input type="submit" value="search" />
        }

        @using (@Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                @Html.ValidationSummary("Validasyon Hatası")
            </div>

            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            @Html.Label("Urun Adı:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Isim)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.Isim, "*")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Barkod:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Barkod)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.Barkod, "*")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Durum:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Durum)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.Durum, "*")
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Fiyat:")
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Fiyat)
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.Fiyat, "*")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.Label("Kategori:")
                        </td>
                        <td>
                            <select name="Kategori">
                                @foreach (var item in categories.anaKategoriList)
                                {

                                <option value="@item.KategoriId">- @item.Isim</option>

                                    foreach (var altKategori in categories.altKategoriList.Where(x => x.UstKategoriId == item.KategoriId))
                                    {

                                <option style="font-weight:bold;" value="@altKategori.KategoriId">--- @altKategori.Isim</option>

                                    }
                                }

                            </select>
                        </td>
                        <td>
                            @Html.ValidationMessageFor(m => m.Kategori, "*")
                        </td>
                    </tr>

                    <tr>
                        <td>File:</td>
                        <td><input type="file" name="Files" id="Files" multiple /></td>
                    </tr>

                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.TextBoxFor(m => m.urunId, new { @hidden = "true"})
                        </td>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="submit" name="submit" value="Submit" /></td>
                    </tr>
                </table>
            </div>
        }

        <table class="table table-striped">
            <tr>
                <td>Ürün Adı</td>
                <td>Barkod</td>
                <td>Durum</td>
                <td>Fiyat</td>
                <td>Barkod Hesap</td>
            </tr>

            @foreach (var item in urunler)
            {
                <tr>
                    <td>@item.UrunAdi</td>
                    <td>@item.Barkod</td>
                    <td>@item.Durum</td>
                    <td>@item.Fiyat</td>
                    <td>@item.ean13Hesap</td>
                    <td>@Html.ActionLink("Edit", "Index", new { id = @item.UrunId })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = @item.UrunId })</td>
                </tr>
            }
        </table>
    </div>
</body>




































</html>