﻿@model CodeFistProject.Models.KategoriKayit
@using CodeFistProject.Models;

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AllCategories categories = ViewBag.categories;
}

<h2>KategoriEkle</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <script>

        $(function () {
            $("select[name$='Kategori']").attr('disabled', true);
            $("#Isim").attr('disabled', false);
            $("#AltKategoriIsim").attr('disabled', true);

            $("#chcKategori").click(function ()
            {
                if ($('#chcKategori').is(':checked'))
                {
                    $("select[name$='Kategori']").attr('disabled', true);
                    $("#Isim").attr('disabled', false);
                    $("#AltKategoriIsim").attr('disabled', true);
                }

                else
                {
                    $("select[name$='Kategori']").attr('disabled', false);
                    $("#Isim").attr('disabled', true);
                    $("#AltKategoriIsim").attr('disabled', false);
                }
            });
        })

    </script>


</head>

<body>

    @using (@Html.BeginForm("KategoriEkle", "Home"))
    {
        <table>
            <tr>
                <td>
                    @Html.Label("Kategori:")
                </td>
                <td>
                    <select name="Kategori">
                        @foreach (var item in categories.anaKategoriList)
                        {

                            <option value="@item.KategoriId">- @item.Isim</option>

                            foreach (var altKategori in categories.altKategoriList.Where(x => x.UstKategoriId == item.KategoriId))
                            {

                                <option style="font-weight:bold;" value="@altKategori.KategoriId">--- @altKategori.Isim</option>

                            }
                        }

                    </select>
                </td>
                <td>
                    @Html.CheckBox("chcKategori", true)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.Label("Ana Kategori:")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Isim)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Sira, "*")
                </td>
            </tr>

            <tr>
                <td>
                    @Html.Label("Alt Kategori:")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.AltKategoriIsim)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.Label("Sıra:")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Sira)
                </td>
                <td>
                    @Html.ValidationMessageFor(m => m.Sira, "*")
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <button type="submit" name="submit" value="Upload" class="btn btn-default">Submit</button>
                </td>
            </tr>
        </table>
    }
</body>
</html>